pkgbase = nvidia-utils-llb
	pkgver = 352.41
	pkgrel = 1
	url = http://www.nvidia.com/
	arch = i686
	arch = x86_64
	license = custom
	options = !strip
	source_i686 = http://download.nvidia.com/XFree86/Linux-x86/352.41/NVIDIA-Linux-x86-352.41.run
	sha256sums_i686 = b3fc5af7bb2852305272ffb3d5d73fbfba639d6a2af9e34a007dde3c6133f6e3
	source_x86_64 = http://download.nvidia.com/XFree86/Linux-x86_64/352.41/NVIDIA-Linux-x86_64-352.41-no-compat32.run
	sha256sums_x86_64 = a67cca72f7de2b5a8d822001b5a78012373989a97388fe9eff56a75e6cad30cd

pkgname = nvidia-utils-llb
	pkgdesc = NVIDIA drivers utilities (Long lived branch)
	install = nvidia-utils.install
	depends = xorg-server
	optdepends = gtk2: nvidia-settings
	optdepends = xorg-server-devel: nvidia-xconfig
	optdepends = opencl-nvidia-llb: OpenCL support
	provides = nvidia-utils
	conflicts = nvidia-utils

pkgname = nvidia-libgl-llb
	pkgdesc = NVIDIA drivers libraries symlinks (Long lived branch)
	depends = nvidia-utils-llb
	provides = libgl
	provides = nvidia-libgl
	conflicts = libgl
	conflicts = nvidia-libgl

pkgname = opencl-nvidia-llb
	pkgdesc = OpenCL implemention for NVIDIA (Long lived branch)
	depends = libcl
	depends = zlib
	optdepends = opencl-headers: headers necessary for OpenCL development
	provides = opencl-nvidia
	conflicts = opencl-nvidia

